.modal {
  margin: 5rem 1rem;
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  width: 50%;
  height: 18rem;
  border-radius: 3px;
  border: 1px solid rgb(199, 199, 199);
  box-shadow: 0px 0px 0.5px 0px;
}

/* .column {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 1rem;
}

.column h6 {
  margin: 0.6rem;
} */

.row {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  width: auto;

  justify-content: space-between;
}

.row h6 {
  margin: 0.6rem 1rem;
}
